<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nudo" href="/tabs/nudo">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Nudo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desenlace" href="/tabs/desenlace">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Desenlace</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>